body table{
    background: #e5e5e5;
}

body table th{
    background: #FCA311;
    color: #fff;
}

body table td{
    width: 20%;
}

body table img {
    width: 200px;
    height: 200px;
    vertical-align: top;
}

.total-pagar{
    text-align: right;
    margin-right: 20px;
    font-size: 20pt;
}

body table a{
    color: red;
}