main .conten .empresa{
    width: 50%;
    /* border: #000 solid 1px; */
    /* box-shadow: 1px 2px 2px 1px black; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
}

main .conten .txtcontact{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main .conten .txtcontact .nombre, main .conten .txtcontact .correo{
    width: 45%;
}

main .conten .txtcontact label{
    display: inline-block;
    font-size: 15pt;
    width: 100%;
    margin-bottom: 10px;
}

main .conten .txtcontact textarea {
    width: 80%;
    height: 100px;
    min-width: 80%;
    max-width: 90%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
    font-size: 15pt;
}

main .conten .txtcontact .nombre input[type="text"], main .conten .txtcontact .correo input[type="email"]{
    width: 80%;
    padding: 5px;
    font-size: 15pt;
}

main .conten .txtcontact .mensaje input[type="text"]{
    width: 80%;
    padding: 5px;
    font-size: 15pt;
}

/* Aquí se modifican los txt box*/
main .conten .txtcontact >*{
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 5px;
}



/* Aquí se modifican los buttons */

main .conten .button{
    margin-bottom: 10px;
}

main .conten .button >*{
    background: #fca311;
    color: white;
}
main .conten{
    background: #e5e5e5;
    text-align: center;
    padding-top: 10px;
}
.conten {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
}