
:root {
    --ColorPrincipal: #fff;
    --ColorSecundario: black;
  
  
    --BorderRadius: 6px;
    --border: 1.5px;
    --Padding: 5px;
    --LetterSpacing: 3px;
    --Margin: 10px;
  }
  
  

  
  