*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.login{
  width: 400px;
  background: #e5e5e5;
  padding: 30px;
  margin: 150px auto;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
 text-align: center;
 box-shadow: 7px 13px 37px #000;
}
.login h4{
  margin-bottom: 15px;
  font-size: 25px;
}

.login label,.login input{
  margin-top: 15px;
}

.login input{
  width: 100%;
  background: #24303c;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1.5px solid #fca311;
  font-family: 'calibri';
  font-size: 18px;
  color: #fff;

}


.login input[type="button"], .login input[type="reset"] {
  margin-bottom: 0px;
  background: #fca311;
  border: none;
  border-radius: 4px;
  padding: 12px;
}

.login input[type="button"]:hover, .login input[type="reset"]:hover {
  background: #24303c;
}