header{
    text-align: center;
}

header h2{
    color: #14213D;
    font-size: 30pt;
}

header .contenedor-arriba{
    background: #14213D;
    position:relative;
    overflow: hidden;
    padding: 20px;
}
header .contenedor-arriba .btn-usuario, header .contenedor-arriba .btn-nombre{
    position: absolute;
}
header .contenedor-arriba .btn-nombre{
    display: block;
    border: #fff solid 1px;
    font-size: 6pt;
    text-decoration: none;
    color: #fff;
    left: 20px;
    top: 20%;
    padding: 0 10px;
}

header .contenedor-arriba .contenedor-busqueda{
    margin: 0 auto;
    width: 50%;
    color: #fff;
    text-align: left;
}

header .contenedor-arriba .contenedor-busqueda .btn-busqueda{
    color: #fff;
    font-size: 20pt;
}

header .contenedor-arriba .btn-usuario{
    right: 50px;
    top: 20%;
    font-size: 30pt;
    color: #fff;
}

header .contenedor-abajo{
    background: rgba(61, 84, 134, 0.98);
    position:relative;
    overflow: hidden;
    padding: 10px;
}


header .contenedor-abajo ul{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

header .contenedor-abajo ul a{
    text-decoration: none;
    color: #fff;
}

header .contenedor-abajo ul li{
    list-style: none;
}