
header{
    text-align: center;
    position: fixed;
    width: 100%;
    top:0;
}

header .contenedor-arriba{
    z-index: 2;
    background: #14213D;
    position:relative;
    overflow: visible;
    padding: 20px;
}
header .contenedor-arriba .nav .btn-usuario, header .contenedor-arriba .btn-nombre{
    position: absolute;
}
header .contenedor-arriba .btn-nombre{
    display: block;
    border: #fff solid 1px;
    font-size: 6pt;
    text-decoration: none;
    color: #fff;
    left: 20px;
    top: 20%;
    padding: 0 10px;
}

header .contenedor-arriba .contenedor-busqueda{
    margin: 0 auto;
    width: 50%;
    color: #fff;
    text-align: left;
}

header .contenedor-arriba .contenedor-busqueda .btn-busqueda{
    color: #fff;
    font-size: 20pt;
}

header .contenedor-arriba .nav .btn-usuario{
    right: 50px;
    top: 20%;
    font-size: 30pt;
    color: #fff;
}

ul,ol{
    list-style: none;
}



header .contenedor-arriba .nav ul,header .contenedor-arriba .nav li{
    right: 50px;
    top: 20%;
    color: #fff;
 }

 header .contenedor-arriba .nav li ul a{
    background-color: #FCA311;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
 }

 header .contenedor-arriba .nav li ul a:hover{
    background-color: #434343;
}

header .contenedor-arriba .nav  li ul {
    margin-top: 40px;
    display: none;
    position: absolute;
    min-width: 140px;
} 

header .contenedor-arriba .nav li:hover > ul{
    display: block;
}




header .contenedor-abajo{
    z-index: 1;
    background: rgba(61, 84, 134, 0.98);
    position:relative;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

header .contenedor-abajo .btn-carrito{
    position: absolute;
    font-size: 15pt;
    right: 50px;
    top: 20%;
    color: #fca311;

}


header .contenedor-abajo ul{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

header .contenedor-abajo ul a{
    text-decoration: none;
    color: #fff;
}

header .contenedor-abajo ul li{
    list-style: none;
}

footer{
    text-align: center;
    font-size: 15pt;
    background:#14213D;
    overflow: hidden;
    margin-top: 10px;
    color: #fff;
}