
.container {
    width: 1000px;
    margin: 0 auto;
}
.container .producto{
    width: 30%;
    /* border: #000 solid 1px; */
    /* box-shadow: 1px 2px 2px 1px black; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
main .container{
    background: #e5e5e5;
    text-align: center;
    padding-top: 10px;
}

main .container h3{
    display: block;
    font-size: 20pt;
    color: rgba(61, 84, 134, 0.98);
    /* color: #fca311; */
}

main .container .contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px 10px;
    text-align: left;
}

main .container .contenedor-img{
    width: 100%;
    text-align: center;
}

main .container .contenedor-img img{
    width: 200px;
    vertical-align: top;
}
